@import url("https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200;12..96,300;12..96,400;12..96,500;12..96,600;12..96,700;12..96,800&family=Epilogue:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://cdn.syncfusion.com/ej2/20.3.56/bootstrap5.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 222.2 47.4% 11.2%;
    --primary-foreground: 210 40% 98%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;

    --radius: 0.5rem;
  }

  .dark {
    --background: 222.2 84% 4.9%;
    --foreground: 210 40% 98%;

    --card: 222.2 84% 4.9%;
    --card-foreground: 210 40% 98%;

    --popover: 222.2 84% 4.9%;
    --popover-foreground: 210 40% 98%;

    --primary: 210 40% 98%;
    --primary-foreground: 222.2 47.4% 11.2%;

    --secondary: 217.2 32.6% 17.5%;
    --secondary-foreground: 210 40% 98%;

    --muted: 217.2 32.6% 17.5%;
    --muted-foreground: 215 20.2% 65.1%;

    --accent: 217.2 32.6% 17.5%;
    --accent-foreground: 210 40% 98%;

    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;

    --border: 217.2 32.6% 17.5%;
    --input: 217.2 32.6% 17.5%;
    --ring: 212.7 26.8% 83.9%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-blue-950;
  }
}

/* BTN */
.btn {
  @apply inline-flex w-fit gap-2 items-center justify-center px-6 text-lg py-3 rounded-full font-semibold font-heading bg-blue-700 text-blue-100;
  @apply transition hover:scale-105 hover:shadow-xl hover:shadow-blue-600/30 active:scale-100 active:shadow-inner active:shadow-blue-900 focus:outline-none focus:ring-2 focus:ring-blue-500 focus:ring-offset-2 focus:ring-offset-blue-50;
}

.btn--alt {
  @apply bg-blue-50 text-blue-700 border border-blue-200 active:shadow-blue-400/40;
}

.btn:has(.icon) {
  @apply gap-3 px-3;
}
/* END BTN */

/* SITE LOGO */
.site-logo {
  @apply flex gap-2 items-center;
}

.site-logo--light .site-logo__text {
  @apply text-slate-100;
}

.site-logo--light .separator {
  @apply bg-slate-100;
}

.site-logo__text {
  @apply relative overflow-clip font-heading text-blue-700 font-bold text-2xl;
}

.site-logo__text span {
  @apply block relative -translate-x-full transition-transform;
}

.separator {
  @apply hidden h-6 w-0.5 bg-blue-600;
}

.site-logo--active .separator,
.site-logo:hover .separator,
.site-logo:focus .separator {
  @apply block;
}

.site-logo--active .site-logo__text span,
.site-logo:hover .site-logo__text span,
.site-logo:focus .site-logo__text span {
  @apply translate-x-0;
}
/* END SITE LOGO */

/* SCROLL DOWN BTN */
.scroll-down-btn {
  @apply absolute bottom-4 transform -translate-y-1/2 left-1/2 -translate-x-1/2;
}
/* END SCROLL DOWN BTN */

/*  FEATURES SECTION */

.site-feature_title {
  @apply text-3xl md:text-3xl font-bold font-heading mt-5 mb-5;
}
.site-feature_title-two {
    @apply text-lg md:text-lg font-bold font-heading mt-5 mb-5 text-blue-700;
}

.site-feature_title-three {
  @apply text-lg md:text-lg font-bold font-heading mt-5 mb-5 text-blue-500 text-center;
}


.site-feature_header {
  @apply text-3xl md:text-4xl font-bold font-heading text-center mt-6 mb-6 flex justify-center items-center my-5;
}
.site-feature_description {
  @apply text-center mt-3 mb-7;
}

.half-width {
  flex: 1;
  width: 50%; /* This ensures that each div takes up half of the parent's width */
}



.marv{
  margin-right: 97px;}


/* SITE Mini Features */
.Head {
  @apply mx-auto max-w-5xl ;
}
.Features-Margin{
  margin-top: 50px;
  margin-bottom: 50px;
}
.Features-Margins{
  margin-top: 50px;
  margin-bottom: 50px;
}

/* SITE HEADER */ /* SITE SECTION */
.site-header,
.site-section {
  @apply w-full px-4;
}

.last-feature{

}
.site-header > .wrapper,
.site-section > .wrapper {
  @apply mx-auto max-w-6xl;
}
/* END SITE HEADER */ /* END SITE SECTION */

/* SITE HEADER */
.site-header {
  @apply sticky top-0 bg-white/80 backdrop-blur-xl border-b border-blue-50 z-20;
}

.site-header > .wrapper {
  @apply flex items-center justify-between py-2;
}
/* END SITE HEADER */

/* SITE SECTION */
.site-section {
  @apply py-12;
}

.site-section__header {
  @apply mb-12;
}

.site-section__title {
  @apply text-3xl lg:text-5xl font-bold font-heading;
}
/*  END SITE SECTION */

/* Document Edit */
.Documents{
  margin-left: 29px;
}
.Display{
  margin-top: 30px
}
.Greetings{
  @apply text-3xl lg:text-5xl font-bold font-heading;
}


/* PAGE HERO */
.page-hero {
  @apply py-16;
}

.page-hero > .wrapper {
  @apply py-12 lg:py-24 p-6 lg:px-0 text-center bg-blue-200 text-blue-900 min-h-[20rem] flex flex-col justify-center rounded-[2rem] max-w-7xl;
}

.page-hero__text-cont {
  @apply max-w-6xl mx-auto flex flex-col items-center gap-3 lg:p-4;
}

.page-hero__caption {
  @apply text-4xl lg:text-7xl font-bold font-heading;
}

.page-hero__description {
  @apply text-lg max-w-2xl mx-auto px-6 lg:px-0;
}
/* END PAGE HERO */

/* CONTACT SECTION */
.contact-section {
  @apply lg:!px-0 overflow-x-clip lg:!py-32;
}

.contact-section > .wrapper {
  @apply flex flex-col-reverse lg:flex-row text-center lg:text-left gap-6 lg:gap-32 items-center;
}

.contact-section__text-cont {
  @apply shrink-0;
}

.contact-section__media-cont {
  @apply grow relative;
}

.contact-section__media-cont img {
  @apply lg:w-[125%]  object-contain lg:absolute transform lg:-translate-y-2/3 lg:max-w-none pointer-events-none;
}
/* END CONTACT SECTION */

/* SOCIALS */
.socials {
  @apply flex gap-4;
}
/* END SOCIALS */

/* SITE FOOTER */
.site-footer {
  @apply bg-slate-900;
}

.site-footer > .wrapper:first-child {
  @apply flex flex-col md:flex-row flex-wrap justify-between gap-8 items-center;
}

.site-footer__links {
  @apply flex flex-wrap gap-4 lg:gap-8 text-slate-400;
}
/* END SITE FOOTER */

/* APP LAYOUT */
.app-layout {
  @apply relative;
}

.app-layout__content {
  @apply relative min-h-screen pr-10 md:pr-[60px] bg-slate-50 py-16 ease-in-out duration-300;
}
/* END OF APP LAYOUT */

/* SIDE BAR  */
.sidebar {
  @apply flex flex-col fixed top-0 left-0 h-screen z-10 bg-blue-600 p-[0.6rem] pt-8  duration-300 md:p-5;
}
.sidebar--width-active {
  @apply w-72;
}

.sidebar--width-inactive {
  @apply w-0 md:w-20;
}

.sidebar__toggler {
  @apply absolute -right-3 top-9 w-7 cursor-pointer rounded-full border-2 bg-blue-100;
}

.sidebar__logo-cont {
  @apply flex items-center gap-x-4;
}

.sidebar-logo {
  @apply cursor-pointer duration-500;
}

.sidebar-title {
  @apply origin-left text-xl font-medium text-white duration-200;
}

.sidebar__item-cont {
  @apply flex flex-col gap-2 pt-10;
}

.sidebar__subtitles {
  @apply text-base text-white font-bold;
}

.sidebar-list {
  @apply flex cursor-pointer items-center rounded-md text-white;
}

.sidebar__link--active {
  @apply bg-blue-500;
}

.sidenav-list {
  @apply whitespace-pre duration-500 origin-left text-base font-semibold text-white;
}

.sidebar-list--inactive {
  @apply translate-x-28 overflow-hidden opacity-0;
}

.sidenav--hoverlist {
  @apply absolute left-48 w-0 overflow-hidden whitespace-pre rounded-md text-sm bg-white px-0 py-0 font-semibold text-gray-900 drop-shadow-lg;
}

.sidebar__support {
  @apply flex cursor-pointer items-center  rounded-md text-white;
}

.support--active {
  @apply p-2;
}

.support--inactive {
  @apply flex items-center justify-center py-2;
}

.support-title {
  @apply whitespace-pre origin-left text-base font-semibold text-white duration-500;
}

.support-title--inactive {
  @apply translate-x-28 overflow-hidden opacity-0;
}

.support-hovertitle {
  @apply absolute left-48 w-0 overflow-hidden whitespace-pre rounded-md text-sm bg-white px-0 py-0 font-semibold text-gray-900 drop-shadow-lg group-hover:left-20 group-hover:w-fit group-hover:px-2 group-hover:py-1 group-hover:duration-300;
}
/* END OF SIDE BAR  */


/* TEMPLATE COPMPONENT */
.template{
  @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 xl:grid-cols-4 auto-cols-max gap-6;
}

.template-card{
  @apply h-[333px] p-3 flex flex-col gap-[10px] bg-white rounded-[32px];
}

.template-card__icon{
  @apply rounded-3xl p-[6px] flex justify-center items-center bg-blue-100;
}

.template-card__title{
  @apply font-medium text-[20px] py-3 pr-6;
}
/*END OF TEMPLATE COPMPONENT */